#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	make -C craftos2-lua linux
	make
	make linux-plugin

override_dh_auto_install:
	make install extra-install-linux-plugin extra-install-apport

override_dh_auto_test:
