#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	make -C craftos2-lua linux
	make
	make linux-plugin

override_dh_auto_install:
	install -D -m 0755 craftos $$(pwd)/debian/craftos-pc/usr/bin/craftos
	install -D -m 0755 craftos2-lua/src/liblua.so $$(pwd)/debian/craftos-pc/usr/lib/libcraftos2-lua.so
	install -D -m 0755 ccemux.so $$(pwd)/debian/craftos-pc-ccemux/usr/share/craftos/plugins/ccemux.so
	patchelf --replace-needed craftos2-lua/src/liblua.so libcraftos2-lua.so $$(pwd)/debian/craftos-pc/usr/bin/craftos
	patchelf --replace-needed craftos2-lua/src/liblua.so libcraftos2-lua.so $$(pwd)/debian/craftos-pc-ccemux/usr/share/craftos/plugins/ccemux.so
	mkdir icons
	unzip resources/linux-icons.zip -d icons
	install -D -m 0644 icons/CraftOS-PC.desktop $$(pwd)/debian/craftos-pc/usr/share/applications/CraftOSPC.desktop
	install -D -m 0644 icons/16.png $$(pwd)/debian/craftos-pc/usr/share/icons/hicolor/16x16/apps/craftos.png
	install -D -m 0644 icons/24.png $$(pwd)/debian/craftos-pc/usr/share/icons/hicolor/24x24/apps/craftos.png
	install -D -m 0644 icons/32.png $$(pwd)/debian/craftos-pc/usr/share/icons/hicolor/32x32/apps/craftos.png
	install -D -m 0644 icons/48.png $$(pwd)/debian/craftos-pc/usr/share/icons/hicolor/48x48/apps/craftos.png
	install -D -m 0644 icons/64.png $$(pwd)/debian/craftos-pc/usr/share/icons/hicolor/64x64/apps/craftos.png
	install -D -m 0644 icons/96.png $$(pwd)/debian/craftos-pc/usr/share/icons/hicolor/96x96/apps/craftos.png
	install -D -m 0644 apport_hook.py $$(pwd)/debian/craftos-pc/usr/share/apport/package-hooks/craftos-pc.py
	install -D -m 0644 apport_hook.py $$(pwd)/debian/craftos-pc/usr/share/apport/package-hooks/source_craftos-pc.py
	install -D -m 0644 apport_crashdb.conf $$(pwd)/debian/craftos-pc/etc/apport/crashdb.conf.d/craftos_pc-crashdb.conf
	mkdir -p $$(pwd)/debian/craftos-pc-dev/usr/include/CraftOS-PC
	find api -type f -exec bash -c 'N=$${1#*/}; echo install -D -m 0644 $$N $$2/$$N' - {} $$(pwd)/debian/craftos-pc-dev/usr/include/CraftOS-PC \;
	install -D -m 0644 craftos2-lua/include/* $$(pwd)/debian/craftos-pc-dev/usr/include/CraftOS-PC

override_dh_auto_test:
